img{
    width: 400px;
float: left;
}

.username {
    font-weight: bold;
}

    button {
        background-color: rgb(226, 13, 226);
      border: none;
      height: 36px;
      width: 110px;
      border-radius: 30px;
      cursor: pointer;
      }

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p
{
    margin-left:10%;
    margin-right: 10%;
}

header a
{
    font-size: 200%;

}

a 
{
text-decoration: none;
color: black;
}

 a:hover
{
 color:rgb(106,255, 0);
}

button:hover
{
    color: darkgoldenrod;
}