img{
    width: 400px;
float: left;
}

.username {
    font-weight: bold;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p
{
    margin-left:10%;
    margin-right: 10%;
}
